<!--TODO: Reorganize elements-->

<div>
    {{ if (eq (lower (.Get "type")) "info") }}

        <div class="bg-admonition_info text-black font rounded-lg">
            <main class="container mx-auto py-3 px-4">
                <div class="not-prose">
                    <p class="font-bold">{{ .Get "title" | upper }}:</p>
                </div>
                
                <div class="prose mt-0 text-black max-w-full">
                    {{ .Inner | markdownify }}
                </div>
            </main>
        </div>
    {{ end }}
</div>
